<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Now</title>
    <link rel="stylesheet" href="../Ylearning/style2.css">
</head>
<body>
    
    
    <header class="Introduction">
        <h1>INTRODUCTION</h1>
    </header>

    <p class="description">
        Hello everyone, we are the Y learning team. Having spent a lot of time studying and most importantly experimenting with the methods of studying, we have come to a conclusion that the question mark and the right questions are the best friends for a learner. Basically, we are providing a platform which itself is smart enough to ask relevant questions to decipher the preparedness level and will also provoke you to ask questions while learning. The following are the features of our platform:-  
    </p>
    
    <ol>
        <li>AI feedback</li>
        <li>Test Series</li>
        <li>100+ exam analysis</li>
        <li>Past year papers as mocks</li>
    </ol>


</body>
</html>